.header-color {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
}
.page-title {
  text-align: center;
  position: fixed;
  top: 5em;
  justify-content: center;
  left: '50%';
  transform: 'translate(-50%, -50%)';
}

.page-title h2 {
  position: fixed;
  border-top: 3px solid grey;
  width: 15%;
  padding-top: 0em;
  margin: 0;
}

.page-title hr {
  text-align: center;
  position: fixed;
  border-top: 3px solid grey;
  width: 15%;
  padding-top: 10px;
  margin-top: 50px;
}

.page-content {
  display: flex;
  padding: 2rem;
}
/* Landing page css */
.social-links i {
  font-size: 2.5em;
  padding: .2em;
  color: white;
}

/* About page css */
.about-grid {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}

.follow-me {
  font-size: 1.3em;
}

.follow-me i {
  padding: 0.5em;
  font-size: 1.5em;
}

.about-right-col {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.about-right-col h2 {
  font-family: 'Anton', sans-serif;
}

.about-right-col p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.about-right-col hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.progress-bar {
  text-align: center;
}

.progress-bar p {
  font-size: 120%;
  color: grey;
  font-style: normal;
  padding-top: 0.3em;
  text-align: left;
}

/* Projects page css */

.projects-grid {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}

/* Blog page css */
.blog-grid {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}

/* contact page css */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 2rem;
  padding-right: 2rem;
  padding-left: 1rem;
}

/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
  padding-bottom: 3.5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 65%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h2 {
  font-size: 58px;
  font-weight: bold;
  color: white;
  padding-top: 8px;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  padding: 1em;
  font-size: 1.5em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

/* footer */

.footer {
  position: fixed;
  bottom: 0em;
  width: 100%;
  text-align: left;
  height: auto;
}

.social-media {
  margin: auto;
  text-align: left;
  justify-content: right;
}

.social-media i {
  padding-top: 0.5em;
  padding-right: 1rem;
  color: white;
  font-size: 1.5em;
}

